apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090  # Adjust this URL to your Prometheus instance
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: 30s
